@import "~~antd/dist/antd.dark.less";

// Fade & zoom animation
.fadeandzoom-enter {
  opacity: 0;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fadeandzoom-appear {
  opacity: 0;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fadeandzoom-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fadeandzoom-enter.fadeandzoom-enter-active {
  animation-name: fadeandzoomIn;
  animation-play-state: running;
}

.fadeandzoom-appear.fadeandzoom-appear-active {
  animation-name: fadeandzoomIn;
  animation-play-state: running;
}

.fadeandzoom-leave.fadeandzoom-leave-active {
  animation-name: fadeandzoomOut;
  animation-play-state: running;
}

@keyframes fadeandzoomIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeandzoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

// Fade & slide animation
.fadeandslide-enter {
  opacity: 0;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fadeandslide-appear {
  opacity: 0;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fadeandslide-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fadeandslide-enter.fadeandslide-enter-active {
  animation-name: fadeandslideIn;
  animation-play-state: running;
}

.fadeandslide-appear.fadeandslide-appear-active {
  animation-name: fadeandslideIn;
  animation-play-state: running;
}

.fadeandslide-leave.fadeandslide-leave-active {
  animation-name: fadeandslideOut;
  animation-play-state: running;
}

@keyframes fadeandslideIn {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeandslideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1rem);
  }
}
body {
  overflow: hidden;
}
